@model PointOfSale.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="HomeController" ng-init="BuscaDados()">
    <div class="row">
        <h2 class="text-center">Veja nossa lista de produtos</h2>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Categorias</div>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="MudaMostrarCategoria('')">Todas</a>
                    <a href="#" class="list-group-item" ng-repeat="categoria in categorias" ng-click="MudaMostrarCategoria(categoria.Nome)">{{categoria.Nome}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div ng-repeat="produto in produtos">
                <div class="col-md-2 table-bordered" style="margin: 5px; padding: 5px;" ng-hide="Mostrar(produto.Categoria.Nome)">
                    <div class="text-center" style="border-bottom: 1px #000 solid; font-weight: bold;">{{produto.Nome}}</div>
                    <div class="text-center" style="border-bottom: 1px #000 solid">{{produto.Categoria.Nome}}</div>
                    <div class="text-center">
                        <p>
                            R${{produto.Preco}}
                        </p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-success" ng-click="Adicionar(produto)">Adicionar no <i class="fa fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    app.controller("HomeController", ['$scope', '$http', function ($scope, $http, $window) {
        $scope.produtos = [];
        $scope.categorias = [];
        $scope.mostrarCategoria = "";

        $scope.BuscaDados = function () {
            $http.get('@Url.Action("BuscaDados")').then(function successCallback(data) {
                $scope.produtos = data.data.ProdutosViewModel;
                $scope.categorias = data.data.CategoriasViewModel;
            });
        };

        $scope.MudaMostrarCategoria = function (categoria) {
            $scope.mostrarCategoria = categoria;
        };

        $scope.Mostrar = function(categoria) {
            if ($scope.mostrarCategoria == "" || $scope.mostrarCategoria == categoria) {
                return false;
            } else {
                return true;
            }
        };

        $scope.Adicionar = function(produto) {
            var prodCarrinho = JSON.parse(window.localStorage.getItem("Produtos"));

            if (prodCarrinho == null) {
                prodCarrinho = [];
                prodCarrinho.push(produto.GuidId);
            } else {
                prodCarrinho.push(produto.GuidId);
            }

            window.localStorage.setItem("Produtos", JSON.stringify(prodCarrinho));
        }
    }]);
</script>
