@model PointOfSale.ViewModels.Carrinho.CarrinhoViewModel

@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="CarrinhoController">
    <div class="row">
        <h2 class="text-center">{{titulo}}</h2>
    </div>

    <div class="row" ng-init="BuscaProdutos()">
        <div class="col-md-12">
            <div class="row table-bordered" style="margin: 5px;">
                <div class="col-md-6">
                    <div class="text-left" style="font-weight: bold; margin: 10px 0 10px 10px;">Produto</div>
                </div>
                <div class="col-md-2">
                    <div class="text-center" style="font-weight: bold; margin: 7px 0 7px 0;">
                        Quantidade
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-right" style="font-weight: bold; margin: 10px 20px 10px 0;">
                        Total
                    </div>
                </div>
            </div>
            <div ng-repeat="produto in produtos">
                <div class="row table-bordered" style="margin: 5px;">
                    <div class="col-md-6">
                        <div class="text-left" style="font-weight: bold;">{{produto.Nome}}</div>
                        <div class="text-left">{{produto.Categoria.Nome}}</div>
                    </div>
                    <div class="col-md-2 text-center">
                        <div style="margin: 7px 0 7px 0;">
                            Qtd.<input type="number" style="width: 45px;" min="0" ng-model="produto.Quantidade" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="margin: 10px 0 10px 0;">
                            <div class="text-left" style="float: left;">Valor Unit. R${{produto.Preco}}</div>
                            <div class="text-right" style="float: right;">Valor Tot. R${{produto.Preco * produto.Quantidade}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row table-bordered" style="margin: 5px;">
                <div class="col-md-12">
                    <div class="text-right" style="font-weight: bold; margin: 10px 0 10px 0;">
                        Total R${{total}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <h3>Escolha como pagar</h3>
        <hr />
        <select name="singleSelect" id="singleSelect" class="form-control">
            <option ng-repeat="metodo in metodosPagamento" value="{{metodo.GuidId}}">{{metodo.Nome}}</option>
        </select><br>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" style="float: right;">Finalizar Compra</button>
    </div>
</div>
<script>
    app.controller("CarrinhoController", ['$scope', '$http', function ($scope, $http) {
        $scope.titulo = "Produtos no seu carrinho";
        $scope.produtos = [];
        $scope.total = 100;
        $scope.metodosPagamento = [];

        $scope.BuscaProdutos = function () {
            $http.get('@Url.Action("BuscaProdutos")', {
                params: { produtosIds: window.localStorage.getItem("Produtos") }
            }).then(function successCallback(data) {
                $scope.produtos = data.data.ProdutosViewModel;
                $scope.metodosPagamento = data.data.MetodosPagamentoViewModel;
            });
        };
    }]);
</script>

